.main-store {
    color: rgb(23, 32, 42);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-store-title {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    margin: 16px 0 8px;
}

.main-store-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0 16px;
}